<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <img src="<%= asset_path('ezt-logo2.png') %>" alt="Logo" width="29.6" height="29.2" class="d-inline-block align-text-top">
    &nbsp;<%= link_to 'Message Hub Easy Translate', root_path, class:'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            All
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Messages</a></li>
            <li><a class="dropdown-item" href="#">Translations</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Users</a></li>
            <li><a class="dropdown-item" href="#">Assignments</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actions
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">New Message</a></li>
            <li><a class="dropdown-item" href="#">New User</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Assignments
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Assignment</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Report
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Personal Report</a></li>
            <li><a class="dropdown-item" href="#">Status Report</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">7 Day Report</a></li>
            <li><a class="dropdown-item" href="#">All-Time Work Report</a></li>
            <li><a class="dropdown-item" href="#">All-Time Translations Report</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Enable auto-advance after VOTE</a></li>
            <li><a class="dropdown-item" href="#">Enable auto-advance after SAVE</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Edit your profile</a></li>
            <li><a class="dropdown-item" href="#">View your profile</a></li>
          </ul>
        </li>        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">[ENG] 64-0816 Proving His Word (EP)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/">kobest</a>
        </li>
      </ul>
      <%= link_to 'Logout', root_path, class:'btn btn-outline-success' %>
    </div>
  </div>
</nav>